<div class="container">
  <h1>Welcome to R & J's Twitter!</h1>
  <p>Let's look at someone's twitter acount.</p>
  <p>Enter a name: </p>
  <form action="/" method="post">
    <input type="text" name="username" placeholder="Name">
    <submit type="submit" value="Submit">
  </form>
</div>
